/* Formatting for the overall web page */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #f4f4f4;
}

/* Formatting for the header */
.nav-background {
  background-image: url("../images/nav-background.jpg");
  background-size: cover;
  background-position: center;
}

.nav-background img {
  margin: 20px;
  position: relative;
  left: calc(50% - 120px);
  width: 200px !important;
  height: 200px !important;
}

.nav-background span {
  margin: unset;
  font-size: 26px !important;
  line-height: 40px !important;
}

.profile a img {
  width: 236px !important;
  height: 236px !important;
}

.profile a span {
  font-size: 29px !important;
  line-height: unset !important;
}

.navbar-overlay {
  z-index: 1000 !important;
}

nav.navbar {
  padding: 0 20px;
}

#sideNavLeft {
  z-index: 1001 !important;
}

.sidenav .collapsible-header, .sidenav.fixed .collapsible-header {
  padding: 0 32px;
}

.sidenav .collapsible .active .collapsible-header .chevron {
  transform: rotate(
    90deg
  );
}

.fab-icon {
  font-size: 23px;
}

/* Formatting for the main content */
main {
  margin: 20px;
}

.home-links {
  margin: 0 10px;
}

.text-italic {
  font-style: italic;
}

.portfolioTimeline .row {
  margin-bottom: unset;
}

.app-launch {
  float: right;
}

.portfolioTimeline .divider {
  border-top: gray 1px solid;
  margin: 25px;
}

.timelineProjectDate {
  padding-left: unset !important;
}

.timelineProjectTopics {
  margin: 10px 0;
  overflow-wrap: break-word;
}

.app-contributor {
  width: 40px !important;
  height: 40px !important;
}

span.portfolioBadge {
  margin-left: unset;
  margin-right: 6px;
  float: unset;
  padding: 3px 10px;
  border-radius: 9999rem;
  line-height: 30px;
}

span.portfolioBadge:after {
  content: " ";
}

/* Formatting for changes in screen size */

/* Change screen when small or smaller */
@media screen and (max-width: 600px) {
  .timelineProjectDate {
    border-right: unset;
  }
}

/* Change appearance of portfolio timeline with screen size */
@media screen and (min-width: 993px) {
  .timelineProjectDate:after {
    content: " ";
    position: relative;
    top: -10px;
    left: calc(100% + .75rem);
    margin-left: -3.5px;
    display: block;
    width: 7px;
    height: 7px;
    background-color: gray;
  }

  .timelineProjectDetails {
    border-left: 1px gray solid;
  }
}

/* Change screen when large or greater */
@media screen and (min-width: 993px) {
  .has-fixed-sidenav .navbar-fixed {
    width: calc(100% - 300px);
    left: 300px;
  }

  .nav-background {
    display: none;
  }
}

/* Change screen when medium or smaller */
@media screen and (max-width: 992px) {
  .profile {
    display: none;
  }
}
